* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
header {
    background: #1d428a;
    color: white;
    padding: 15px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    flex-direction: row;
    /* padding-right: 50px*/

} 

nav {
    display: flex;
    justify-content: center;
    align-self: center;
    flex: 1;
}

nav a {
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.7s;
    border-radius: 20px;
}

nav a:hover {
    background-color: #c8102e;
}

.logo {
    text-align: left;
}

.logo img {
    width: 50px;
    border-radius: 25px;
    align-items: center;
}
.container {
    padding: 100px 0 0 0 !important;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}
.produs{
    display: flex;
    background-color: aqua;
    width: 60vh;
    height: 70vh;
    border-style: solid;
    border-color: #8a1d60;
    justify-content: space-around;
    border-radius: 2rem;

} 
.pc{
    display: flex;
    gap: 10px;
    border: 2% solid black;
    border-color: #c8102e;
}
footer {
    background: #1b263b;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-around;
    }
}
