* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background: #1D428A;
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    justify-content: center;
    align-self: center;
    flex: 1;
}

nav a {
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.7s
}

nav a:hover {
    background-color: #ffc72c;
    color: #1D428A;
    border-radius: 20px;
}

.logo {
    text-align: left;
}

.logo img {
    width: 50px;
    border-radius: 25px;
}
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}
footer {
    background: #C8102E;
    color: white;
    text-align: center;
    padding: 10px;
}
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-around;
    }
}
